.sign-container
  %header.sign-header
    %h1#startlogo
      = link_to image_tag('mercari.png', class:'mercari'), root_path, class: "head-a"

  %main.single-main
    %section.l-single-container
      %h2.registration
        新規会員登録
      .l-single-inner
        .l-single-content
          = link_to member_infomation_signup_index_path do
            .btn-default.btn-mail
              = fa_icon 'envelope-o', class:'sns-icon'
              メールアドレスで登録する
          .btn-default.btn-sns__face
            = fa_icon 'facebook-official', class:'sns-icon'
            Facebookで登録する
          .btn-default.btn-sns__google
            = fa_icon 'google', class:'sns-icon'
            googleで登録する

  %footer.single-footer
    %nav.footernav
      %ul.clearfix
        %li
          プライバシーポリシー
        %li
          メルカリ利用規約
        %li
          特定商取引に関する表記
    = link_to image_tag('logo-gray.svg', class:'greymercari'), root_path, class: "footerlogo"
    %p
      © 2019 Mercari