.sign-container
  %header.sign-header
    %h1
      = link_to image_tag('mercari.png', class:'mercari'), root_path
    %nav.progress-bar.signup-bar
      %ol.clearfix
        %li.through
          会員情報
          .progress-status
        %li.through
          電話番号認証
          .progress-status
        %li.through
          お届け先住所入力
          .progress-status
        %li.active
          支払い方法
          .progress-status
        %li
          完了
          .progress-status.after-del
  %main
    %section.l-single-container
      %h2.registration.l-single-head
        支払い方法
      %form.l-single-inner.registration-form{action: "./entry_done", method: "GET", novalidate: "novalidate"}
        %input{name: "__csrf_value", type: "hidden", value: ""}/
        .l-single-content
          .form-group
            %label{for: "post_number"} カード番号
            %span.form-require 必須
            %input.input-default{name: "post_number", placeholder: "半角英数のみ", type: "text", value: ""}
          .credit-box.flex-box
            = image_tag('logo_visa.gif', class: 'credit')
            = image_tag('logo_mastercard.gif', class:'credit')
            = image_tag('jcb-logomark-img-02.gif', class:'credit')
            = image_tag('amex-logomark-img-05.gif', class:'credit')
            = image_tag('diners-logomark-img-02.gif', class:'credit')
            = image_tag('discover-logomark-img-07.gif', class:'credit')
          .form-group.posi-re
            %label{for: "post_number"} 有効期限
            %span.form-require 必須
            = fa_icon 'chevron-down', class: "pulldown-crd"
            %select.select-prefectures.half{name: "prefectures"}
              %option{value: ""} ー
            = fa_icon 'chevron-down', class: "pulldown"
            %select.select-prefectures.half{name: "prefectures"}
              %option{value: ""} ー
          .form-group
            %label{for: "post_number"} セキュリティコード
            %span.form-require 必須
            %input.input-default{name: "post_number", placeholder: "カード背面４桁もしくは３桁の番号", type: "text", value: ""}
          .form-help.text-right
            = link_to("/", target: "_blank") do
              = fa_icon 'question-circle'
              本人情報の登録について
          %button.btn-default.btn-red{type: "submit"} 次へ進む

  %footer.single-footer
    %nav.footernav
      %ul
        %li
          プライバシーポリシー
        %li
          メルカリ利用規約
        %li
          特定商取引に関する表記
    = link_to image_tag('logo-gray.svg', class:'greymercari'), root_path, class: "footerlogo"
    %p
      © 2019 Mercari