= render 'items/header'
= render 'items/exhibit'
%nav.bread-crumbs
  %ul
    %li
      %span メルカリ
      = fa_icon "angle-right"
    %li
      %span マイページ
      = fa_icon "angle-right"
    %li
      %span 支払い方法
%main.mypage-container.clearfix
  .l-content
    %section.l-chapter-container
      %h2.l-chapter-head 支払い方法
      .l-single-inner
        %section
          .l-single-content
            %h3.l-chapter-sub-head クレジットカード一覧
          %ul.settings-payment-list
            %li
              %form.l-single-content
                %figure
                  = image_tag('logo_visa.gif', class: 'card-logo')
                .settings-payment-num ****************
                .settings-payment-num ** / **
                %button.settings-payment-remove
                  削除する
          .settings-not-regist
            %a
              %span 支払い方法について
              = fa_icon "angle-right"
  = render 'mypage-side'
= render 'items/footer'