= render 'header'
= render 'exhibit' 

.toppage
  .toppage_image
    =image_tag 'toppage_image.png'
    .toppage_image__left
      =image_tag 'toppage_image_left.png'
    .toppage_image__right
      =image_tag 'toppage_image_right.png'
  .category
    .category_list
      .category_list__title
        人気カテゴリー
      .category_list__btn
        .category_list__btn__title
          レディース
        .category_list__btn__title
          メンズ
        .category_list__btn__title
          家電・スマホ・カメラ
        .category_list__btn__title
          おもちゃ・ホビー・グッズ
    .itemss
      .items
      .item_list_box
        .item_list_box__title
          レディース新着アイテム
        .item_list_box__meny
          もっと見る 
          =fa_icon 'angle-right'
        = render 'items'
      .item_list_box
        .item_list_box__title
          レディース新着アイテム
        .item_list_box__meny
          もっと見る 
          =fa_icon 'angle-right'
        = render 'items'
    .category_list
      .category_list__title
        人気カテゴリー
      .category_list__btn
        .category_list__btn__title
          レディース
        .category_list__btn__title
          メンズ
        .category_list__btn__title
          家電・スマホ・カメラ
        .category_list__btn__title
          おもちゃ・ホビー・グッズ
    .itemss
      .items
      .item_list_box
        .item_list_box__title
          レディース新着アイテム
        .item_list_box__meny
          もっと見る 
          =fa_icon 'angle-right'
        = render 'items'
      .item_list_box
        .item_list_box__title
          レディース新着アイテム
        .item_list_box__meny
          もっと見る  
          =fa_icon 'angle-right'
        = render 'items'
= render 'footer'