= render 'header'
.toppage
  .toppage_image
    .toppage_image__left
      =fa_icon 'chevron-left', class: 'toppage_image_left'
    .toppage_image__left
      =fa_icon 'chevron-right', class: 'toppage_image_right'
    .toppage_image_right
  = render 'items'
  = render 'items'
  = render 'items'
  = render 'items'
        