= render 'header'
= render 'exhibit' 

.toppage
  .toppage_image
    .toppage_image__left
      =fa_icon 'chevron-left', class: 'toppage_image_left'
    .toppage_image__left
      =fa_icon 'chevron-right', class: 'toppage_image_right'
    .toppage_image_right
  .category_list
    .category_list__title
      人気カテゴリー
    .category_list__btn
      .category_list__btn__title
        レディース
      .category_list__btn__title
        メンズ
      .category_list__btn__title
        家電・スマホ・カメラ
      .category_list__btn__title
        おもちゃ・ホビー・グッズ
  .itemss
    .items
      = render 'items'
      = render 'items'
      = render 'items'
      = render 'items'
  .category_list
    .category_list__title
      人気カテゴリー
    .category_list__btn
      .category_list__btn__title
        レディース
      .category_list__btn__title
        メンズ
      .category_list__btn__title
        家電・スマホ・カメラ
      .category_list__btn__title
        おもちゃ・ホビー・グッズ
  .itemss
    .items
      = render 'items'
      = render 'items'
      = render 'items'
      = render 'items'