.sign-container
  %header.sign-header
    %h1#startlogo
      = link_to image_tag('mercari.png', class:'mercari'), root_path, class: "head-a"
  %main.single-main
    %section.l-single-container
      %h2.registration
        商品の情報を入力
      .exhibit_main
      = form_with(model: @item, local: true) do |f|
        .exhibit_main_pagging
          .exhibit_main_pagging__image.flex
            .exhibit_main_pagging__image__left
              出品画像
            .exhibit_main_pagging__image__right
              必須
          .exhibit_main_pagging__up
            最大5枚までアップロードできます
          %label
            = f.fields_for :images,  @item.images.build,local: true do |fin|
              .exhibit_main_pagging__date
                .exhibit_main_pagging__date__image
                .exhibit_main_pagging__date__content
                  %p ドラッグアンドドロップまたはクリックしてファイルをアップロード
                  = fin.file_field :image_url, class: 'f_input_image', type:"file" 
        .exhibit_box
          .exhibit_box__name
            .form-group
            %label.fontweigth{for: "nickname"} 商品名
            %span.form-require 必須
            = f.text_field :name, class:'f_input', placeholder: '品名(必須４０文字まで)'
          - if @item.errors.any?
            =render 'layouts/error_messages', model: f.object 
          .exhibit_box__explanation
            .form-group
            %label.fontweigth{for: "nickname"} 商品の説明
            %span.form-require 必須
            = f.text_area :description,class:'f_textarea', placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'
          - if @item.errors.any?
            =render 'layouts/error_messages', model: f.object 
        .exhibit_box.flex
          .exhibit_box__grey.flex
            商品の詳細
            =fa_icon 'question-circle',class:'question-circle'
          .exhibit_box__lists
            .exhibit_box__list
              .exhibit_box__list__top
                .form-group
                %label.fontweigth{for: "nickname"} カテゴリー
                %span.form-require 必須
              .exhibit_box__list__bottom
                %select.select-exhibit{name: "prefectures"}
                .exhibit_box__list__bottom__icon
                  =fa_icon 'chevron-down'
            .exhibit_box__list
              .exhibit_box__list__top
                .form-group
                %label.fontweigth{for: "nickname"} 商品の状態
                %span.form-require 必須
              .exhibit_box__list__bottom.clearfix
                %select.select-exhibit{name: "prefectures"}
                .exhibit_box__list__bottom__icon2
                  =fa_icon 'chevron-down'
        .exhibit_box.flex
          .exhibit_box__grey
            配送について 
            =fa_icon 'question-circle',class:'question-circle'
          .exhibit_box__lists
            .exhibit_box__list
              .exhibit_box__list__top
                .form-group
                %label.fontweigth{for: "nickname"} 配送料の負担
                %span.form-require 必須
              .exhibit_box__list__bottom
                %select.select-exhibit{name: "prefectures"}
                .exhibit_box__list__bottom__icon
                  =fa_icon 'chevron-down'
            .exhibit_box__list
              .exhibit_box__list__top
                .form-group
                %label.fontweigth{for: "nickname"} 発送元の地域
                %span.form-require 必須
              .exhibit_box__list__bottom.clearfix
                %select.select-exhibit{name: "prefectures"}
                .exhibit_box__list__bottom__icon2
                  =fa_icon 'chevron-down'
                .exhibit_box__list
              .exhibit_box__list__top
                .form-group
                %label.fontweigth{for: "nickname"} 発送日までの日数
                %span.form-require 必須
              .exhibit_box__list__bottom.clearfix
                %select.select-exhibit{name: "prefectures"}
                .exhibit_box__list__bottom__icon3
                  =fa_icon 'chevron-down'
        .exhibit_box.flex
          .exhibit_box__grey
            販売価格(300〜9,999,999)
            =fa_icon 'question-circle',class:'question-circle'
          .exhibit_box__list
            .exhibit_box__list__prices
              .exhibit_box__list__prices__price.flex
                .exhibit_box__list__prices__price__left
                  .form-group
                  %label.fontweigth{for: "nickname"} 価格
                  %span.form-require 必須
                .exhibit_box__list__prices__price__right.flex
                  .exhibit_box__list__prices__price__right__text
                    ¥
                  = f.text_field :price,class:'f_input', placeholder: '例）300'
            - if @item.errors.any?
              =render 'layouts/error_price', model: f.object 
            .exhibit_box__list__fees
              .exhibit_box__list__fees__fee.flex
                .exhibit_box__list__rees__fee__left
                  販売手数料（10％）
                .exhibit_box__list__fees__fee__right
                  ー
            .exhibit_box__list__profits
              .exhibit_box__list__profits__profit.flex
                .exhibit_box__list__profits__profit__left
                  販売利益
                .exhibit_box__list__profits__profit__right
                  ー
        .exhibit_box
          .exhibit_box__text
            %p
              %a禁止されている出品、
              %a行為
              を必ずご確認ください。
            %p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              %a偽ブランドの販売
              は犯罪であり処罰される可能性があります。
            %p
              また、出品をもちまして
              %a加盟店規約
              に同意したことになります。
          = f.submit '出品する', class: 'exhibit_box__btn'
          .exhibit_box__back
            =link_to root_path do
              もどる
  %footer.single-footer
    %nav.footernav
      %ul.clearfix
        %li
          プライバシーポリシー
        %li
          メルカリ利用規約
        %li
          特定商取引に関する表記
    = link_to image_tag('logo-gray.svg', class:'greymercari'), root_path, class: "footerlogo"
    %p
      © 2019 Mercari