.sign-container
  %header.sign-header
    %h1
      = link_to image_tag('mercari.png', class:'mercari'), root_path
    %nav.progress-bar.signup-bar
      %ol.clearfix
        %li.through
          会員情報
          .progress-status
        %li.through
          電話番号認証
          .progress-status
        %li.through
          お届け先住所入力
          .progress-status
        %li.active
          支払い方法
          .progress-status
        %li
          完了
          .progress-status.after-del
  %main
    %section.l-single-container
      %h2.registration.l-single-head
        支払い方法
      = form_with url: cards_path, id: "card__form", class: "l-single-inner registration-form", local: true do |f|
        .l-single-content
          .form-group
            =f.label :card_number, 'カード番号'
            %span.form-require 必須
            =f.text_field :card_number, id: "card_number", class: "input-default", placeholder: "半角英数のみ"
          .credit-box.flex-box
            = image_tag('logo_visa.gif', class: 'credit')
            = image_tag('logo_mastercard.gif', class:'credit')
            = image_tag('jcb-logomark-img-02.gif', class:'credit')
            = image_tag('amex-logomark-img-05.gif', class:'credit')
            = image_tag('diners-logomark-img-02.gif', class:'credit')
            = image_tag('discover-logomark-img-07.gif', class:'credit')
          .form-group.posi-re#adjust
            =f.label '有効期限'
            %span.form-require 必須
            = fa_icon 'chevron-down', class: "pulldown-crd"
            =f.select :exp_month, [['12', '12'], ['2', "2"]], { include_blank: true, selected: 0}, {class: "select-prefectures", id: "card_month"}
            %p.crd-fontmonth
              月
            = fa_icon 'chevron-down', class: "pulldown-crd2"
            =f.select :exp_year, [['2019', "2019"], ['2020', '2020']], { include_blank: true, selected: 0}, {class: "select-prefectures second", id: "card_year"}
            %p.crd-fontyear
              年
          .form-group
            =f.label :card_cvc, 'セキュリティコード'
            %span.form-require 必須
            =f.text_field :card_cvc, id: "card_cvc", class: "input-default", placeholder: "カード背面４桁もしくは３桁の番号"
          .form-help.text-right
            = link_to("/", target: "_blank") do
              = fa_icon 'question-circle'
              本人情報の登録について
          =f.submit "次へ進む", class: "btn-default btn-red", id: "submit_btn"

  %footer.single-footer
    %nav.footernav
      %ul
        %li
          プライバシーポリシー
        %li
          メルカリ利用規約
        %li
          特定商取引に関する表記
    = link_to image_tag('logo-gray.svg', class:'greymercari'), root_path, class: "footerlogo"
    %p
      © 2019 Mercari